* {
   box-sizing: border-box;
}

body {
   /* Al desarraigarle el margin a nuestro documento el vh y el vw se mostrara correctamente sin barras de scroll */
   margin: 0;
   font-family: "Quicksand", sans-serif;
}

/* Variables de desarrollo */
:root {
   --white: #ffffff;
   --black: #000000;
   --very-light-pink: #bbbbbb;
   --text-input-field: #d4d4d4;
   --hospital-green: #4c9655;
   --hospital-green-press: #35a540;
   --small: 14px;
   --medium: 16px;
   --large: 18px;
}

.login {
   width: 100%;
   height: 100vh;

   /* de este modo se centra en grid solo con una linea de codigo */
   display: grid;
   place-items: center;
}

.form-container {
   display: grid;
   grid-template-rows: auto 1fr auto;
   width: 300px;
}

.logo {
   width: 150px;
   margin-bottom: 48px;
   justify-self: center;
   display: none;
}

.title {
   font-size: var(--large);
   margin-bottom: 52px;
   text-align: left;
}

.subtitle {
   color: var(--very-light-pink);
   font-size: var(--medium);
   font-weight: 300px;
   margin-top: 0;
   margin-bottom: 32px;
   text-align: center;
}

.label {
   font-size: var(--small);
   font-weight: bold;
   margin-bottom: 4px;
}

.input {
   background-color: var(--text-input-field);
   border: none;
   border-radius: 8px;
   height: 30px;
   font-size: var(--small);
   padding: 6px;
   margin-bottom: 22px;
}

.form-box {
   display: flex;
   flex-direction: column;
}

.form {
   display: flex;
   flex-direction: column;
}

.primary-button {
   background-color: var(--hospital-green);
   border-radius: 8px;
   border: none;
   color: var(--white);
   width: 300px;
   cursor: pointer;
   font-size: var(--medium);
   font-weight: bold;
   height: 50px;
}
.login-button {
   margin-top: 14px;
   margin-bottom: 30px;
}
.login-button:hover {
   background-color: #35a540;
}

.login-button:active {
   background-color: var(--hospital-green);
}

@media (max-width: 540px) {
   .form-container {
      height: 100%;
   }

   .form {
      height: 100%;
      justify-content: space-between;
   }
}
